@mixin font-face($family , $name , $style: normal, $weigth: normal ,$path : "caviar-dreams" ){
  @font-face{
    font-family: $family;

    src: url("./assets/font/#{$path}/#{$name}.ttf") format('truetype'),
    url("./assets/font/#{$path}/#{$name}.woff2") format('woff2'),
    url("./assets/font/#{$path}/#{$name}.eot") format('embedded-opentype');

    font-style: $style;
    font-weight: $weigth;
  }
}

@include  font-face('Roboto', "Roboto-Regular", $path: "roboto");

$font: "Roboto";

.roboto{
  font-family: $fontB;
}
