@mixin font-face($name , $folder , $file: "*" , $style: normal, $weigth: normal , $path:"../fonts"){
  $filepath: "#{$path}/#{$folder}/#{$file}";
  @font-face{
    font-family: $name;
    src: url("#{$filepath}.ttf") format('truetype'),
    url("#{$filepath}.woff2") format('woff2'),
    url("#{$filepath}.eot") format('embedded-opentype');
    font-style: $style;
    font-weight: $weigth;
  }
}

@include  font-face('Roboto',"roboto", "Roboto-Regular");
@include  font-face('Caviar', "caviar-dreams","CaviarDreams");

$fontA: "Roboto";
$fontB: "Caviar";

.roboto{
  font-family: $fontA;
}

.caviar{
  font-family: $fontB
}
